.a-style{
    text-decoration: none;
    color: black;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-col-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dot {
    height: 4px;
    width: 4px;
    background-color: #606060;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    bottom: 2px;
    margin: 0px 2px;
  }
  .hline{
    background-color: #d3d3d3;
    height: 5px;
    margin: 30px;
  }
  .cursor-pointer{
    cursor: pointer;
  }